.Comment { margin-bottom: 0.5em; }

.Comment > span > h4 {
  font-weight: 500;
  margin: 0;
}
.Comment > span > p {
  font-weight: 200;
  margin: 0;
}

.Comment > span > .editInputText {
    width: 100%;
    font-weight: 200;
    margin: 0;
    border: none;
    background: inherit;
}
